.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* new css for books component */

* {
  box-sizing: border-box;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.book {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}

.App-header h2 {
  margin: 0;
}

.add-books {
  text-align: center;
}

.add-books button {
  font-size: 16px;
  padding: 8px;
  margin: 0 10px 30px 10px;
}

.errorMessage {
  margin: auto;
  font-weight: bold;
  color: rgb(161, 15, 15);
}


.search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}


input[type="submit"] {
  padding: 5px;
  background-color: transparent;
  color: black;
  border: 1px solid black;
  width: 80px;
  margin-left: 5px;
  cursor: pointer;
}


input[type="submit"]:hover {
  background-color: #282c34;
  color: antiquewhite;
}


.search > input[type="text"]{
  width: 40%;
  min-width: 170px;
}


@media screen and (min-width: 694px) and (max-width: 915px) {
  .book {
    max-width: 33%;
  }
}

@media screen and (min-width: 652px) and (max-width: 693px) {
  .book {
    max-width: 50%;
  }
}

@media screen and (max-width: 651px) {
  .book {
    max-width: 100%;
    margin: auto;
  }
}

#shopButton_true {
  border: none;
  min-height: 50px;
  min-width: 50px;
  align-items: right;
  float: right;
  background-image: url( 'https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/OOjs_UI_icon_close.svg/480px-OOjs_UI_icon_close.svg.png' );
  background-size: 50px 50px;
}

#shopButton_false {
  border: none;
  min-height: 50px;
  min-width: 50px;
  align-items: right;
  float: right;
  background-image: url( 'https://icons-for-free.com/iconfiles/png/512/cart+ecommerce+shop+icon-1320166083122274571.png' );
  background-size: 50px 50px;
}

#buyBook {
  border: none;
  min-height: 50px;
  min-width: 50px;
  background-image: url( https://icons-for-free.com/iconfiles/png/512/buy-131964784705748631.png );
  background-size: 50px 50px;
}

#shopPic {
  float: left;
  margin-right: 20px;
}

.shopBook {
  text-align: left;
}

#removeBook {
  border: none;
  min-height: 50px;
  min-width: 50px;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/3/35/VisualEditor_-_Icon_-_Remove.svg/1200px-VisualEditor_-_Icon_-_Remove.svg.png);
  background-size: 50px 50px;
}